.about-text {
  width: 750px;
  padding-bottom: 20px;
  color: rgb(rgb(210, 210, 210));
  font-family: 'Merriweather', serif;
 
}
.about-heading {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0f1116;
}
.block {
  width: 1600px;
  height: 400px;
  background-color: rgb(100, 13, 13);
  position: absolute;
  top: 565px;
  left: 0px;
  /* background-color: ; */
}
.cont {
  position: relative;
  color: #000;
}

.svyaz {
  color: #fff;
  background-color: rgb(37, 2, 2);
  height: 80px;
}

.aaa {
  text-decoration: none;
  color: #fff;
}

.thre {
  display: flex;
  justify-content: space-around;
}

/* .headerr { */
  /* position: absolute; */
  /* top: center; */
  /* margin: center; */
/* }  */
